<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGaGGoJ78SAraMIc1jHFuEZqJ9N_79jgY</string>
	<key>GCM_SENDER_ID</key>
	<string>202407477219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackfestMobile</string>
	<key>PROJECT_ID</key>
	<string>hackfest2024-e588d</string>
	<key>STORAGE_BUCKET</key>
	<string>hackfest2024-e588d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202407477219:ios:4c58526d6d7582d7a36ad6</string>
</dict>
</plist>